{% extends "blog/base_blog.html" %}

{% block title %}
    Delete tag "{{ tag.title|title }}" - {{ block.super }}
{% endblock title %}

{% block content %}
    <form action="{{ tag.get_delete_url }}" method="post">
        {% csrf_token %}

        <div class="alert alert-warning">
            <h3>
                <p>Are you sure you want to delete "{{ tag.title|title }}" tag?</p>
            </h3>
        </div>


        <button type="button" class="btn btn-light"><a href="{{ tag.get_absolute_url }}">Cancel</a></button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock content %}