{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
        {% block title %}
            Blog Engine
        {% endblock title %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <style>
            .card-header {
                background-color: #27AE7E;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light"
        style="background-color: #27AE7E;">
            <a class="navbar-brand" href="{% url 'posts_list_url' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container mt-5">
            <div class="row">
                <div class="col-6 offset-md-2">
                    {% block content %}
                        Тут будет контент!
                    {% endblock content %}

                    {% if  is_paginated %}

                    <nav aria-label="...">
                        <ul class="pagination">

                            <li class="page-item {% if not prev_url %}disabled{% endif %}">
                              <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
                            </li>

                            {% for n in page_object.paginator.page_range %}


                                {% if page_object.number == n %}
                                    <li class="page-item active">
                                      <a class="page-link" href="?page={{ n }}"> {{ n }} <span class="sr-only">(current)</span></a>
                                    </li>
                                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                {% endif %}

                            {% endfor %}
                                <li class="page-item {% if not next_url %}disabled{% endif %}">
                                      <a class="page-link" href="{{ next_url }}">Next</a>
                                </li>
                        </ul>
                    </nav>

                 {% endif %}

                </div>
            </div>
        </div>


        {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="admin-panel align-items-center">
                <a href="/admin" class="btn btn-outline-info">Admin</a>
                {% block admin-panel %}

                {% endblock admin-panel %}
            </div>
        {% endif %}
    </body>
</html>